.sector {
  position: relative;
  background-color: lightblue;
  margin: 2px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sectortitle {
  text-align: center;
  border-bottom: 1px solid lightcyan;
  user-select: none;
}
