.unitscontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
  padding: 5px; /* Added padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}
